<link rel="stylesheet" href="/styles/forms.css">
<% layout("layouts/boilerplate") %>

  <h1 class=""><span class="title-line line-pink">Bibliothekseintrag Hinzufügen</span></h1>
  <div id="form-bib-new" class="col-6 offset-3">
    <form action="/bibliothek" method="post" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Überschrift</label>
        <input class="form-control" type="text" id="title" name="bib[title]" required>
      </div>
      <div class="mb-3 image-input">
        <div class="form-file custom-file">
          <input class="form-file-input" id="image" type="file" name="image" multiple>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Beschreibung</label>
        <textarea class="form-control" type="text" id="description" name="bib[description]" required></textarea>
        <script>
                CKEDITOR.replace( 'description' );
            </script>
      </div>
      <div class="mb-3">
        <label class="form-label" for="autor">Autor*in</label>
        <input class="form-control" type="text" id="autor" name="bib[autor]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="pub">Herausgeber*in</label>
        <input class="form-control" type="text" id="pub" name="bib[pub]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="year">Jahr</label>
        <input class="form-control" type="text" id="year" name="bib[year]">
      </div>
      <div class="mb-3">
        <button class="btn btn-aktuelles-blue">Speichern</button>
      </div>
    </form>
    <a class="btn btn-primary btn-mina" href="/online-bibliothek">Zurück</a>
  </div>

<!--  -->
