<footer class="footer bg-light pt-3 mt-auto">
  <div class="container footer-content">
    <span class="text-muted">&copy; 2020 MINA-Leben in Vielfalt e.V.</span>
    <div class="social-items">
      <div>
        <a href="mailto:vielfalt@mina-berlin.de"><i class="fas fa-at fa-2x social-icon-mail"></i></a>
        <span class="social-span footer-contact">Email</span>
      </div>
      <div>
        <a href="https://www.facebook.com/MINALebenInVielfalt/" target="_blank"><i class="fab fa-facebook fa-2x social-icon-fb"></i></a>
        <span class="social-span footer-contact">FB</span>
      </div>
      <div >
        <a href="/mina/kontakt"><i class="fab fa-wpforms fa-2x"></i></a>
        <span class="social-span footer-contact">Kontaktformular</span>
      </div>
    </div>
    <div class="">
      <span class="text-muted data-impress">Impressum</span>
    </div>
    <div class="">
      <span class="text-muted data-impress">Dateschutzerklärung</span>
    </div>
  </div>
</footer>
