<footer class="footer bg-light py-3 mt-auto">
  <div class="container footer-content">
    <span class="text-muted">&copy; 2020 MINA-Leben in Vielfalt e.V.</span>
    <div class="social-items">
      <a href="mailto:info@mina-berlin.de"><i class="fas fa-at fa-2x social-icon-mail"></i></a>
      <a href="https://www.facebook.com/MINALebenInVielfalt/" target="_blank"><i class="fab fa-facebook fa-2x social-icon-fb"></i></a>
      <a href="/mina/kontakt"><i class="fab fa-wpforms fa-2x"></i></a>
    </div>
      <ul class="footer-contact">
        <li>
          MINA-Leben in Vielfalt e.V. im Intihaus
        </li>
        <li>
          Friedrichstr. 1
        </li>
        <li>
          10969 Berlin
        </li>
        <li>
          Tel.: 030 – 403 65 76 -20
        </li>
        <li>
          Fax: 030 – 403 65 76 -29
        </li>
      </ul>
    </div>
    </footer>
