<nav class="navbar  navbar-expand-lg navbar-dark navbar-hintergrund">
  <div class="container-fluid">
    <div class="mina-logo">
      <a class="navbar-brand" href="/landing">
        <img src="/img/gesamt/Logos/Mina_Logo.png" alt="">
        <p id="logo-subtitle">Leben in Vielfalt</p>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/landing">Home</a>
        <a class="nav-link" href="/workshops">Workshops</a>
        <a class="nav-link br-link" href="/campgrounds">Partizipative <br> Projekte</a>
        <a class="nav-link br-link" href="/campgrounds/new">Prozess- <br> Begleitung</a>
        <a class="nav-link br-link" href="/campgrounds/new">Online <br> Bibliothek</a>
        <a class="nav-link" href="/campgrounds/new">Dokumentation</a>
        <a class="nav-link" href="/campgrounds/new">Kontakt</a>
        <!-- Template for conditional displaying -->
        <% if(currentUser) {%>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
      </div>
      <div class="symbol-box ml-auto">
        <img src="/img/gesamt/Logos/Group 1.svg" alt="" id="symbols">
      </div>
    </div>
  </div>
</nav>
<img src="/img/gesamt/Elemente/Path 1.svg" class="img-fluid" id="path-nav">
