<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class=""><span class="title-line line-pink">Workshop Hinzufügen</span></h1>
  <div class="col-6 offset-3">
    <form action="/test" method="post" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Seminartitel</label>
        <input class="form-control" type="text" id="title" name="test[title]" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Ort 1</label>
        <input class="form-control" type="text" id="location" name="test[location]" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location2">Ort 2</label>
        <input class="form-control" type="text" id="location2" name="test[location2]" >
      </div>
      <div class="mb-3">
        <label class="form-label" for="location3">Ort 3</label>
        <input class="form-control" type="text" id="location3" name="test[location3]" >
      </div>
      <div class="mb-3">
        <label class="form-label" for="date">Datum</label>
        <input class="form-control" type="text" id="date" name="test[date]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="online">Onlineseminar</label>
        <select class="form-control" id="online" name="test[online]">
          <option value="ja">Ja</option>
          <option value="nein">Nein</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Bilder</label>
        <input class="form-control" id="image" type="file" name="image" multiple>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Beschreibung</label>
        <textarea class="form-control" type="text" id="description" name="test[description]" required></textarea>
        <script>
          CKEDITOR.replace('description');
        </script>
      </div>
      <div class="mb-3">
        <button class="btn btn-success btn-mina">Speichern</button>
      </div>
    </form>
    <a href="/mina/home">Zurück</a>
  </div>
</div>
