<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>
<div class="container">
  <h1 class=""><span class="title-line line-pink">Kontakt</span></h1>
  <div class="wrapper animated bounceInLeft">
    <div class="company-info">
      <h3>Berlin MINA – Leben in Vielfalt e. V.</h3>
      <ul>
        <li><i class="fa fa-map-marker-alt"></i> Friedrichstraße 1,
        10969 Berlin</li>
        <li><i class="fas fa-phone-alt"></i> 030 62 93 40 31</li>
        <a href="mailto:vielfalt@mina-berlin.de">
        <li><i class="fa fa-envelope"></i> vielfalt@mina­berlin.de</li>
        </a>
      </ul>
    </div>
    <div class="contact">
      <h3 id="header-contact">Schreiben Sie uns</h3>
      <form method="POST" action="/test">
        <p>
          <label>Name</label>
          <input type="text" name="name">
        </p>
        <p>
          <label>Betreff</label>
          <input type="text" name="betreff">
        </p>
        <p>
          <label>Emailaddresse</label>
          <input type="email" name="email">
        </p>
        <p>
          <label>Telefonnummer</label>
          <input type="text" name="phone">
        </p>
        <p class="full">
          <label>Nachricht</label>
          <textarea name="message" rows="5"></textarea>
        </p>
        <p class="full btn-mina">
          <button>Senden</button>
        </p>
      </form>
    </div>
  </div>
</div>
