<link rel="stylesheet" href="/styles/bib.css">
<% layout("layouts/boilerplate") %>
<h1>Online Bibliothek</h1>
<div class="container">

<div class="list-group">
  <% for(let bib of bibs) {%>
  <a href="/bibliothek/<%= bib._id %>" class="list-group-item list-group-item-action"><%= bib.title %></a>
  <%}%>
</div>

<% if(currentUser) {%>
<a href="/bibliothek/neu" class="btn btn-aktuelles-blue">Eintrag Hinzufügen</a>
<% } %>
</div>
