<link rel="stylesheet" href="/styles/dokumentation.css">
<% layout("layouts/boilerplate") %>
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-workshops.jpg" class="img-fluid cover-header">
  </div>
  <div class="block aktuelles" id="dokumentation">
    <h1 class=""><span class="title-line">Dokumentation Ehrenamt in Vielfalt</span></h1>
    <p class="ws-text">Das Projekt Ehrenamt in Vielfalt wird seit Januar 2019 durch die Beauftragte für Migration, Flüchtlinge und Integration gefördert. Es wird von MINA in Kooperation mit dem Bundesverband für körper- und mehrfachbehinderte Menschen e.V. (bvkm) durchgeführt.
    </p>

    <p class="ws-text">Im Jahr 2019 wurden ehrenamtliche und hauptamtliche Mitarbeiter*innen aus Angeboten der Behindertenhilfe und andere Interessierte für die Schnittstelle Flucht, Migration und Behinderung sensibilisiert. Im Anschluss an eine Fachtagung wurden dazu mehrtägige Praxisseminare in München, Düsseldorf und Leipzig angeboten. Die Resonanz war bei allen Veranstaltungen sehr hoch. Außerdem moderierte MINA zwei Treffen in Naumburg und Leipzig, diese dienten der Vernetzung von Verwaltung, Migrantenorganisationen und Behindertenhilfe sowie Geflüchtetenhilfe. Ziel war es, einen Austausch an der Schnittstelle zwischen allen involvierten Organisationen zu ermöglichen und über wirksame Ansätze vor Ort zu diskutieren.</p>
    <a href="/mina/dokumentation/praxisseminare-2019" class="btn btn-mina btn-doc"  >Dokumentation 2019</a>
    <a href="/mina/dokumentation/fachtagung" class="btn btn-mina btn-doc"  target="_blank">Fachtagung</a>
  </div>
