<link rel="stylesheet" href="/styles/praxisseminar.css">
<% layout("layouts/boilerplate") %>
<!-- HEADER -->
<div class="container-fluid">
  <!-- 1. Block -->
  <div class="block aktuelles" id="block-praxis">
    <h1 class=""><span class="title-line">Dokumentation 2020</span></h1>
    <img class="logo" id="img-praxis" src="/img/gesamt/Projekt/PRAX/praxis1.png" alt="">
    <p class="ws-text">Unser Projekt Ehrenamt in Vielfalt möchte dazu beitragen, dass alle Menschen eine angemessene
      Unterstützung bekommen. Hierzu wurden 2019 zweitägige Praxisseminare in München, Düsseldorf
      und Leipzig angeboten.
    </p>
  </div>
  <!-- SEMINARKONZEPTION -->
  <div class="block blue gallery-block" id="ws-gallery">
    <div>
      <div class="konzeption">
        <h1 class="white"><span class="title-line line-blue">Seminarkonzeption</span></h1>
        <p class="ws-text text-praxis">Kulturspezifisches Wissen ist in der Arbeit mit Geflüchteten und/oder Migranten mit Behinderung
          und deren Angehörigen sehr wichtig und spielt, wenn vorhanden, eine wertvolle Rolle. Dieses Wissen
          ist alsVorteil anzusehen, aber nicht als wichtigste Komponente. Alle Mitarbeiter*innen von MINA
          haben eine migrantische Biografie und deswegen bereits den kleinen Vorteil in der Arbeit an der
          Schnittstelle. In den letzten Jahren eigneten sie sich aber auch andere Kompetenzen an, die unserer
          Meinung nach entscheidend für eine erfolgreiche Arbeit sind. Diese anderen Kompetenzen nennen
          wir kulturempathischer Ansatz. Dieser unterstützt die zwischenmenschliche interkulturelle
          Kommunikation. Mit dieser Idee im Hinterkopf entwarfen und führten wir das Praxisseminar Flucht,
          Migration und Behinderung – Wege zu Teilhabe und Engagement durch.
        </p>
        <p class="ws-text text-praxis">Für die Konzipierung des Seminars zu rechtlichen Aspekten an der Schnittstelle war Mirjam Schülle,
          Forscherin des Instituts für Rehabilitationswissenschaften an der Humboldt-Universität zu Berlin,
          verantwortlich. Dabei ging es vor allem um diese Frage: Welche Sozialleistungen stehen Migranten
          und Geflüchteten mit Behinderung je nach Aufenthaltsstatus zu?
        </p>
      </div>
    </div>
  </div>
  <div class="about-block" id="block-konzeption">
    <h1 class="white"><span class="title-line line-green">Dokumentation und Tagesablauf</span></h1>
    <div class="container" id="container-seminar-ov">
      <div class="row" id="row-praxis">
        <div class="col-6 seminar-ov">
          <h3 class="white">Erster Tag - Interkulturelle Öffnung</h3>
          <img class="img-paraxisseminar" src="/img/gesamt/Projekt/PRAX/mina-tag1.jpg" alt="">
          <!-- <ul class="ws-text praxis-list">
            <li><a href="/downloads/PRAX/Bericht_Praxisseminar.pdf" target="_blank"><i class="fas fa-download"></i> Bericht der Seminare </a> </li>
          </ul> -->
        </div>
        <div class="col-6 seminar-ov">
          <h3 class="white">Zweiter Tag - Rechtliche Grundlagen</h3>
          <img class="img-paraxisseminar" src="/img/gesamt/Projekt/PRAX/mina-tag2.jpg" alt="">
        </div>
        <div class="link-box">
          <h3 class="white"><span class="title-line line-blue">Downloads</span></h3>
          <ul class="ws-text praxis-list">
            <li><a href="/downloads/PRAX/Bericht_Praxisseminar.pdf" target="_blank"><i class="fas fa-download"></i> Bericht der Seminare </a> </li>
            <li><a href="/downloads/PRAX/Fotoprotokoll.pdf" target="_blank"><i class="fas fa-download"></i> Fotoprotokoll </a></li>
            <li><a href="/downloads/PRAX/Bericht_Praxisseminar.pdf" target="_blank"><i class="fas fa-download"></i> Literaturhinweise </a></li>
            <li><a href="/downloads/PRAX/Beratungsleitfaden.pdf" target="_blank"><i class="fas fa-download"></i> Rechtlicher Leitfaden </a></li>
            <li><a href="/downloads/PRAX/Migrationspaket.pdf" target="_blank"><i class="fas fa-download"></i> Aktuelle rechtliche Hinweise zum neuen Migrationspaket </a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
