<link rel="stylesheet" href="/styles/fach.css">
<% layout("layouts/boilerplate") %>

<!-- IMAGE BLOCK -->
<div class="block blue gallery-block block-fach" id="ws-gallery">
  <h1 class="white"><span class="title-line line-blue">Bildergalerie</span></h1>
  <!-- Gallerie 1 -->
  <div class="gallery">
    <h3>Geflüchtete Menschen und Behinderung –
      <br>
      Wege zu Teilhabe und Engagement</h3>
    <div class="img-container-prozess" id="img-container-fach">
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach1.jpg" alt=""></a>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach2.jpg" alt=""></a>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach3.jpg" alt=""></a>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach4.jpg" alt=""></a>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach5.jpg" alt=""></a>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach6.jpg" alt=""></a>
      <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/FACH/Fach7.jpg" alt=""></a>
    </div>
  </div>
  <!-- LINKBOX -->
  <div class="col link-box" id="link-box-fach">
    <h3 class="white"><span class="title-line line-blue">Downloads</span></h3>
    <ul class="ws-text fach-list">
      <li><a href="/downloads/FACH/Staatsministerin_Grußwort.pdf" target="_blank"><i class="fas fa-download"></i> Grußwort Staatsministerin Widmann-Mauz</a> </li>
      <li><a href="/downloads/FACH/Vorstand_Grußwort.pdf" target="_blank"><i class="fas fa-download"></i> Grußwort des BVKM Vorstands</a></li>
      <li><a href="/downloads/FACH/Köbsell_Vortrag.pdf" target="_blank"><i class="fas fa-download"></i> Prof. Dr. Swantje Köbsell <br> (ASH, Berlin |<span class="vortrag-titel">"Unsichtbar – behinderte Geflüchtete zwischen den Systemen"</span> )</a></li>
      <li><a href="/downloads/FACH/Judy_Vortrag.pdf" target="_blank"><i class="fas fa-download"></i> Vortrag Judy Gummich <br> (Menschenrechtlerin & Diversity-Trainerin |<span class="vortrag-titel">"Facetten von Mehrfachdiskriminierung"</span> )</a></li>
      <li><a href="/downloads/FACH/Amirpur_Vortrag.pdf" target="_blank"><i class="fas fa-download"></i> Vortrag Dr. Donja Amirpur <br> (TH Köln |<span class="vortrag-titel">"Orientierungen von Familien im Kontext von Migration und Behinderung"</span> )</a></li>
      <li><a href="/downloads/FACH/Jacobo_Vortrag.pdf
      "target="_blank"><i class="fas fa-download"></i> Vortrag Dr. Jacopo Colombini <br> (Lebenshilfe Landesverband Hamburg e.V |<span class="vortrag-titel">"Praxiseinblick: Von der Idee zur Umsetzung"</span> )
        </a></li>
      <li><a href="/downloads/FACH/Akgün_Schödermaier_Vortrag.pdf" target="_blank"><i class="fas fa-download"></i> Vortrag Yildiz Akgün & Laura Schödermaier <br> (MINA e.V. |<span class="vortrag-titel">"Vorstellung von MINA"</span> )</a></li>
      <li><a href="/downloads/FACH/Thementische.pdf" target="_blank"><i class="fas fa-download"></i> Dokumentation der Thementische</a></li>
    </ul>
  </div>
</div>
