<link rel="stylesheet" href="/styles/kontakt.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg" >
    <img id="header-img" src="/img/gesamt/Mitarbeiter/bg-kontakt.png" class="img-fluid cover-header">
  </div>
  <!-- HEADER BLOCK -->
  <div>
    <div class="block aktuelles">
      <h1 class=""><span class="title-line">Kontakt</span></h1>
      <!-- Kontakt Form -->
      <div class="wrapper animated bounceInLeft">
        <div class="company-info">
          <h3>Berlin MINA – Leben in Vielfalt e. V.</h3>
          <ul>
            <li><i class="fa fa-map-marker-alt"></i> Friedrichstraße 1,
            10969 Berlin</li>
            <li><i class="fas fa-phone-alt"></i> 030 62 93 40 31</li>
            <a href="mailto:vielfalt@mina-berlin.de">
            <li><i class="fa fa-envelope"></i> vielfalt@mina­berlin.de</li>
            </a>
          </ul>
        </div>
        <div class="contact">
          <h3 id="header-contact">Schreiben Sie uns</h3>
          <form method="POST" action="/kontakt">
            <p>
              <label>Name</label>
              <input type="text" name="name">
            </p>
            <p>
              <label>Betreff</label>
              <input type="text" name="betreff">
            </p>
            <p>
              <label>Emailaddresse</label>
              <input type="email" name="email">
            </p>
            <p>
              <label>Telefonnummer</label>
              <input type="text" name="phone">
            </p>
            <p class="full">
              <label>Nachricht</label>
              <textarea name="message" rows="5"></textarea>
            </p>
            <p class="full btn-mina">
              <button>Senden</button>
            </p>
          </form>
        </div>
      </div>
    </div>
    <img src="/img/gesamt/Elemente/Path 31-1.svg" alt="" class="img-fluid" id="path-3">
  </div>
  <!-- MITARBEITER BLOCK -->
  <div class="container-fluid contact-box" id="kontakt-contact">
    <h1 class="white"><span class="title-line">AnsprechpartnerInnen</span></h1>
    <div class="row row-contact">
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/05_Jana.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Workshops</li>
            <li>Jana Lubinova</li>
            <li>030 – 62 93 40 31</li>
            <li>0157 – 85 07 83 07</li>
            <li><a href="mailto:j.lubinova@mina-berlin.de">j.lubinova@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/01_Britta.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Teamassistenz</li>
            <li>Britta Möller</li>
            <li>030 – 62 93 40 31</li>
            <li><a href="mailto:b.moeller@mina-berlin.de">b.moeller@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/02_Andrea.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Projektleitung</li>
            <li>Andrea Hennig</li>
            <li>030 – 62 93 40 31</li>
            <li>0157 – 85 07 82 88</li>
            <li><a href="mailto:a.henning@mina-berlin.de">a.hennig@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Öffentlichkeitsarbeit</li>
            <li>Wendy Taranowski</li>
            <li>030 – 62 93 40 31</li>
            <li>0159 – 06 70 38 98</li>
            <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/03_Ivan.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Prozessbegleitung</li>
            <li>Ivan Martinez</li>
            <li>030 – 62 93 40 31</li>
            <li>0176 – 47 68 38 16</li>
            <li><a href="mailto:i.martinez@mina-berlin.de">i.martinez@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/07_Laura.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Partizipative Projekte</li>
            <li>Laura Schödermaier</li>
            <li>030 – 62 93 40 31</li>
            <li><a href="mailto:l.schoedermaier@mina-berlin.de">l.schoedermaier@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/06_Eda.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Verwaltung</li>
            <li>Eda Özel</li>
            <li>030 – 56 82 27 53</li>
            <li><a href="mailto:e.oezel@mina-berlin.de">e.oezel@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/08_Begüsch.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Bürokraft</li>
            <li>Begümhan Akgün</li>
            <li>030 – 62 93 40 31</li>
            <li><a href="mailto:vielfalt@mina-berlin.de">vielfalt@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
