<link rel="stylesheet" href="/styles/kontakt.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Mitarbeiter/bg-kontakt.png" class="img-fluid cover-header" id="part-header">
  </div>
  <!-- HEADER BLOCK -->
  <div class="block-box" id="block-box">
    <img src="/img/gesamt/Elemente/path_white_1.svg" alt="" class="img-fluid" id="path-2">
    <div class="block aktuelles">
      <h1 class=""><span class="title-line">Kontakt</span></h1>
      <!-- Kontakt Form -->
      <form class="validated-form" action="#" method="post" novalidate>
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" id="name" name="name" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Nachricht</label>
          <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        </div>
        <button class="btn btn-success" id="btn-contact">Senden</button>
      </form>
    </div>
    <img src="/img/gesamt/Elemente/Path 31-1.svg" alt="" class="img-fluid" id="path-3">
  </div>
  <!-- MITARBEITER BLOCK -->
  <div class="container-fluid contact-box" id="kontakt-contact">
    <h1 class="white"><span class="title-line">AnsprechpartnerInnen</span></h1>
    <div class="row row-contact">
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/05_Jana.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Inhalte und Konzept</li>
            <li>Jana Lubinova</li>
            <li>0157 - 850 783 07</li>
            <li>030 62 93 40 31</li>
            <li><a href="mailto:j.lubinova@mina-berlin.de">j.lubinova@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/01_Britta.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Organisation</li>
            <li>Britta Möller</li>
            <li>0157 - 850 783 07</li>
            <li>030 62 93 40 31</li>
            <li><a href="mailto:b.moeller@mina-berlin.de">b.moeller@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/02_Andrea.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Prozessbegleitung</li>
            <li>Ivan Martinez</li>
            <li>0157 - 850 783 07</li>
            <li>030 62 93 40 31</li>
            <li><a href="mailto:a.henning@mina-berlin.de">a.henning@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Öffentlichkeitsarbeit</li>
            <li>Wendy Taranowski</li>
            <li>0157 - 850 783 07</li>
            <li>030 62 93 40 31</li>
            <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/03_Ivan.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Prozessbegleitung</li>
            <li>Ivan Martinez</li>
            <li>0157 - 850 783 07</li>
            <li>030 62 93 40 31</li>
            <li><a href="mailto:i.martinez@mina-berlin.de">i.martinez@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
      <div class="worker col-sm-6 col-lg-4">
        <img class="contact-img" src="/img/gesamt/Mitarbeiter/06_Eda.jpg" alt="">
        <div class="worker-info">
          <ul>
            <li class="worker-title">Verwaltung</li>
            <li>Eda Özel</li>
            <li>0157 - 850 783 07</li>
            <li>030 62 93 40 31</li>
            <li><a href="mailto:e.oezel@mina-berlin.de">e.oezel@mina-berlin.de</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
