<link rel="stylesheet" href="/styles/landing.css">
<% layout("layouts/boilerplate") %>
<!-- Block Aktuelles -->
<div class="container-fluid">
  <!-- Path Nav -->
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-landing.png" class="img-fluid cover-header">
  </div>
  <div class="block aktuelles">
    <!-- <h1 class=""><span class="title-line">Aktuelles</span></h1>
    <h3>Während der Corona Zeit – Korona döneminde - خلالة فترة أزمة كورونا</h3>
    <p>Hier finden Sie hilfreiche Informationen rund um das Thema Corona-Virus</p>
    <p>Bu sayfalarda Korona virüsu ve yardımlaşma konusunda yararlı bilgiler bulabilirsini</p>
    <p>نقدم لكم تاليا مجموعة من الروابط المفيدة المتعلقة بآزمة كورونا
    </p> -->
    <h1 class=""><span class="title-line">Aktuelles</span></h1>
    <div class="text-box-aktuelles">
      <h3>Weihnachtsferien</h3>
      <p class="text-aktuelles">Vom <strong>21.12.2020 bis 03.01.2021</strong> sind unsere Büros <strong>geschlossen</strong>. Wir wünschen allen fröhliche Festtage und einen guten Rutsch. Bleibt gesund!</p>
    </div>
    <a href="/downloads/flyer-landing.pdf" class="btn" id="btn-flyer" target="_blank">Unser aktueller Flyer</a>
  </div>
  <!-- Block Kalender -->
  <div class="calendar-block">
    <h1 class="white"><span class="title-line">Kalender</span> </h1>
    <h3 class="white">Hier finden Sie im neuen Jahr aktuelle Termine </h3>
    <div class="list-group mb-3">
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Workshops 2021:</h5>
          <small>14.12.2020</small>
        </div>
        <p class="mb-1">Geplante Präsenz-Workshops im kommenden Jahr:</p>
        <small><span class="stadt">Erfurt</span> am 26.04 bis 28.04.21 in St. Ursula</small>
        <br>
        <small><span class="stadt">Hannover</span>  am 31.05.bis 02.06.21 im Stephansstift</small>
        <br>
        <small><span class="stadt">Potsdam</span>  am 15.09 bis 17.09.21 in der Stadtjugendring e.V.</small>
        <br>
        <small>Nähere Informationen zu den Inhalten und der Anmeldungen folgen in Kürze.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Weitere Termine</h5>
          <small class="text-muted">14.12.2020</small>
        </div>
        <p class="mb-1">Neue Termine folgen in Kürze</p>
      </a>
    </div>
    <% if(currentUser) {%>
    <a href="/posts/new" class="btn btn-mina-white">Eintrag Hinzufügen</a>
    <% } %>
  </div>
  <!-- Über Block -->
  <div class="about-block">
    <h1 class="white"><span class="title-line line-green">Über Ehrenamt in Vielfalt</span></h1>
    <p class="text-block">Das Projekt Ehrenamt in Vielfalt widmet sich der Schnittstelle Flucht, Migration und Behinderung und arbeitet seit 2019 mit dem Ziel, das Wissen rund um die Themen der Schnittstelle zu multiplizieren. Im Rahmen des Projekts fanden 2019 mehrere zweitägige Workshops sowie die Fachtagung Geflüchtete Menschen und Behinderung statt.</p>
    <p class="text-block">2020 und 2021 werden mehrtägige bundesweite Workshops angeboten. Des Weiteren gibt es die Möglichkeit für ausgewählte Mitgliedsorganisationen des Bundesverbandes für körper- mehrfachbehinderte Menschen (bvkm) an einer Prozessbegleitung mit dem Ziel, Menschen mit Migrations- und/ oder Fluchterfahrung und einer Behinderung wirksam zu erreichen und zu begleiten, teilzunehmen. Die Sensibilisierung der Öffentlichkeit für die Themen der Schnittstelle ist ein weiterer Schwerpunkt des Projekts.</p>

    <h1 class="white"><span class="title-line line-green">Hintergrund des Projekts</span></h1>
    <p class="text-block" id="last-text">In Deutschland leben geschätzt 2 Millionen Menschen mit Migrationserfahrung und einer Behinderung. 10 bis 20 Prozent der Menschen mit Fluchterfahrung haben nach Schätzungen eine Beeinträchtigung. Viele Menschen werden
      statistisch nicht erfasst und ein großer Teil kommt im Hilfesystem nicht an – sie bleiben unsichtbar. Menschen mit Flucht- und Migrationserfahrung haben aber einen schlechteren Zugang zur Gesundheitsvorsorge und zu Angeboten der
      Behindertenhilfe. Sie werden erheblich früher Pflegefälle und haben ein höheres Risiko einer Beeinträchtigung – beispielsweise durch eine Traumatisierung und medizinische Unterversorgung.</p>
  </div>
  <!-- Map Block -->
  <div class="map-block">
    <h1 class="white"><span class="title-line line-blue">MINA Standorte in Deutschland</span></h1>
    <div class="map-box box mt-5 mb-5 pb-5">
      <img class="img-fluid" id="map" src="/img/gesamt/Logos/Map-final-dark.png" alt="">
      <div class="text-box">
        <h3>Berlin</h3>
        <hr>
        <p>Berlin MINA – Leben in Vielfalt e. V.</p>
        <p>Friedrichstraße 1</p>
        <p>10969 Berlin</p>
        <p>030 62 93 40 31</p>
        <p>vielfalt@mina­berlin.de</p>
      </div>
    </div>
  </div>

  <!-- Sponsor Block -->
  <div class="sponsor-block">
    <div class="block sponsor-box">
      <h1 class=""><span class="title-line line-pink">Unsere Partner und Kooperationen</span></h1>
      <div class="box">
        <a href="https://www.integrationsbeauftragte.de/ib-de#" target="_blank"><img href="" class="img-fluid" src="/img/gesamt/Logos/Logo_Gefoerdert.png" alt=""></a>
        <a href="https://bvkm.de/unsere-themen/migration-und-behinderung/" target="_blank"><img class="img-fluid" src="/img/gesamt/Logos/Logo_kooperation.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
