<% layout("layouts/boilerplate") %>
<img src="/img/Path 1.svg" alt="" class="img-fluid" id="path-1">

<div class="block-box">
  <img src="/img/Path 2.svg" alt="" class="img-fluid" id="path-2">
  <div class="block" id="aktuelles">
    <h1 class="h1">Aktuelles</h1>
    <h3>Während der Corona Zeit – Korona döneminde - خلالة فترة أزمة كورونا</h3>
    <p>Hier finden Sie hilfreiche Informationen rund um das Thema Corona-Virus</p>
    <p>Bu sayfalarda Korona virüsu ve yardımlaşma konusunda yararlı bilgiler bulabilirsini</p>
    <p>نقدم لكم تاليا مجموعة من الروابط المفيدة المتعلقة بآزمة كورونا
    </p>
    <a href="#" class="btn" id= "btn-flyer">Unser aktuerller Flyer</a>
</div>
<img src="/img/Path 31-1.svg" alt="" class="img-fluid" id="path-3">
</div>
<div class="block-box">
  <img src="/img/Path 2.svg" alt="" class="img-fluid" id="path-2">
  <div class="block" >

</div>
</div>







<div class="block rosa">

</div>
