<% layout("layouts/boilerplate") %>
<!-- Path Nav -->
<img src="/img/Path 1.svg" alt="" class="img-fluid" id="path-1">
<!-- Block Aktuelles -->
<div class="block-box" id="block-box">
  <img src="/img/Path 2.svg" alt="" class="img-fluid" id="path-2">
  <div class="block" id="aktuelles">
    <h1 class="h1">Aktuelles</h1>
    <h3>Während der Corona Zeit – Korona döneminde - خلالة فترة أزمة كورونا</h3>
    <p>Hier finden Sie hilfreiche Informationen rund um das Thema Corona-Virus</p>
    <p>Bu sayfalarda Korona virüsu ve yardımlaşma konusunda yararlı bilgiler bulabilirsini</p>
    <p>نقدم لكم تاليا مجموعة من الروابط المفيدة المتعلقة بآزمة كورونا
    </p>
    <a href="#" class="btn" id= "btn-flyer">Unser aktuerller Flyer</a>
</div>
<img src="/img/Path 31-1.svg" alt="" class="img-fluid" id="path-3">
</div>

<!-- Block Kalender -->
<div class="block-box" id="calendar">
  <div class="block rosa" id="calendar-content">
    <h1 class="mb-3 h1">Kalender</h1>
    <div class="list-group mb-3">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>
</div>
</div>







<div class="block rosa">

</div>
