<link rel="stylesheet" href="/styles/partizip.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-partizipativ.png" class="img-fluid cover-header" id="bg-partizip">
  </div>
  <!-- HEADER BLOCK -->
  <div class="block aktuelles" id="header-part">
    <img class="logo" src="/img/gesamt/Logos/icon_partizip.png" alt="">
    <h1 class=""><span class="title-line">Partizipatives Projekt</span></h1>
    <p class="ws-text">Viele Themen der Schnittstelle Flucht, Migration und Behinderung sind oft Teil abstrakter Diskussionen, in denen die Menschen nicht im Mittelpunkt stehen. Partizipative Projekte sollen Menschen mit Migrations- und/oder Fluchterfahrung und Behinderung, deren Angehörigen und Ehrenamtliche die Möglichkeit geben, sich selbst zu äußern, ihren Themen und Meinungen auszudrücken und öffentlich Raum zu geben. Die Umsetzung des Projekts erfolgt gemeinsam mit Studierenden, dem Personenkreis von MINA und Ehrenamtlichen. </p>
    <p class="ws-text">Zwei Projekte werden in diesem Rahmen umgesetzt. Ein Buch-/Biografie-Projekt mit arabischen und türkischen Familien, um die Erfahrungen der Menschen zu sammeln und weiterzugeben sowie die Entwicklung von Erklärvideos zu behindertenspezifischen Fragestellungen.</p>
    <video src="https://www.youtube.com/watch?v=W0Lf3mfRFoc" poster="posterimage.jpg">
    </video>
    <!-- <iframe width="560" height="315" src="/videos/Interview Tagung mit Trailer und UT.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>

  <!-- IMAGE BLOCK -->
  <!-- <div class="block blue gallery-block">
    <h1 class="white"><span class="title-line line-blue">Aktuelles</span></h1>
    <div class="gallery gallery-partizip">
      <h3>Vortstellung des Projekts bei der KHSB</h3>
      <h4>19.11.2020</h4>
      <p>Partizipative Projekte sollen Menschen mit Migrations- und/oder Fluchterfahrung und Behinderung, deren Angehörigen und Ehrenamtlichen die Möglichkeit geben, sich selbst zu äußern, ihre Themen und Meinungen auszudrücken und öffentlich Raum
        zu geben.</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
    </div>
    <div class="gallery gallery-partizip">
      <h3>Gespräche mit der Zielgruppe</h3>
      <h4>10.11.2020</h4>
      <p>Viele Themen der Schnittstelle Flucht, Migration und Behinderung sind oft Teil abstrakter Diskussionen, in denen Menschen nicht im Mittelpunkt stehen. Um dies zu ändern, gab es am vergangenen Freitag eine umfassende Befragung der
        Ziegruppe.</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
    </div>
    <div class="gallery gallery-partizip">
      <h3>Kooperationsgespräche mit der ASH und der KHSB</h3>
      <h4>19.10.2020</h4>
      <p>Nach einem gemeinsamen Treffen wurde einstimmig eine Kooperation beschlossen. Die Umsetzung der Projekte erfolgt gemeinsam mit Studierenden der Alice Salomon Hochschule (ASH) und der Katholischen Hochschule Berlin (KHSB).</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
      <p class="more">Weitere Beiträge ....</p>
    </div>
  </div> -->
  <!-- MITARBEITER BLOCK -->
  <!-- <div class="block-worker">
    <img src="/img/gesamt/Elemente/Path 3-pink.png" alt="" class="img-fluid">
    <div class="block rosa contact">
      <h1 class="white"><span class="title-line">Ansprechpartnerinnen</span></h1>
      <div class="container worker-box">
        <div class="row">
          <div class="worker col-sm-6">
            <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
            <div class="worker-info">
              <ul>
                <li class="worker-title">Partizipative Projekte</li>
                <li>Wendy Taranowski</li>
                <li>0157 - 850 783 07</li>
                <li>030 62 93 40 31</li>
                <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container-fluid contact-box" id="part-contact">
    <h1 class="white"><span class="title-line">Ansprechpartnerinnen</span></h1>
    <div class="row">
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/04_Wendy.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Partizipative Projekte</li>
              <li>Wendy Taranowski</li>
              <li>0157 - 850 783 07</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:w.taranowksi@mina-berlin.de">w.taranowksi@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/07_Laura.png" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Partizipative Projekte</li>
              <li>Laura Schödermaier</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:l.schoedermaier@mina-berlin.de">l.schoedermaier@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
