<div id="podcast-block">
<h1 class="white"><span class="title-line line-blue">Podcast XY</span></h1>
<div class="exposition-text-block">
  <% if(partizip.descriptionfour) {%>
  <div class="part-text" id="part-text-two"><%-partizip.descriptionfour %></div>
  <% } else { %>
  <p id="exposition-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <% } %>
  </div>
  <!-- PLAYER -->
  <audio controls>
    <source src="/downloads/Tyga1.mp3" type="audio/ogg">
  Your browser does not support the audio element.
  </audio>
  <!-- PLAYER -->
  <h1>PODCAST</h1>
  <h1>PODCAST</h1>
</div>
