<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-prozess.png" class="img-fluid cover-header">
  </div>
  <!-- TABLE BLOCK -->
  <div class="block-box">
    <img src="/img/gesamt/Elemente/path_white_1.svg" alt="" class="img-fluid" id="path-2">
    <div class="block aktuelles">
      <img class="logo" src="/img/gesamt/Logos/icon_prozess.png" alt="">
      <h1 class=""><span class="title-line">Workshops Flucht Migration Behinderung</span></h1>
      <p class="ws-text">He apparent with to of a motivator, he and on destruction. Around as by in woke through the that never minutes. Disguised price name because didn't state involved. Options person, a raised interaction should to writer's from
        belly select blind outlines in delicacy are not honour; For great one to visuals should during commissaries. And up several an time. Yards quietly first offering intended the only and friends and a get because by entirely accordingly too. And
        of the have best that please. Most before. Caching that's actual for titled gift extent, were both well, he the front sort aged.</p>

      <p class="ws-text">Als Mitgliedsorganisation des Bundesverbandes für köper- und mehrfachbehinderte Menschen (bvkm) bietet MINA anderen Mitgliedsorganisationen eine Prozessbegleitung an. Gemeinsam erarbeiten wir konkrete Lösungswege, um Menschen
        mit Migrations- und/ oder Fluchterfahrung und einer Behinderung wirksam zu erreichen und zu begleiten.</p>
      <p class="ws-text">Folgende Organisationen wurden für eine Kooperation und enge Zusammenarbeit im Rahmen der Prozessbegleitung ausgewählt:</p>
      <ul class="ws-text prozess-list">
        <li>Elterninitiative FED Leipzig e. V.</li>
        <li>Beratungsstelle Neuruppin des Landesverbandes für körper- und mehrfach-behinderte Menschen Berlin-Brandenburg e. V.</li>
        <li>GfI – Gesellschaft für Integration mbH Vkm Hamm e. V.</li>
      </ul>
      <p class="ws-text">Wir freuen uns auf eine spannende Zeit!</p>
      <a href="#" class="btn" id="btn-flyer">Flyer Prozessbegleitung</a>
    </div>
    <img src="/img/gesamt/Elemente/path_white_2.svg" alt="" class="img-fluid" id="path-white-2">
  </div>
  <!-- ZEITSTRAHL BLOCK -->
  <div class="block-box">
    <img src="/img/gesamt/Elemente/path_green.png" alt="" class="img-fluid">
    <div class="block green mb-5" id="timeline-block">
      <img src="/img/gesamt/Zeitstrahl/Zeitstrahl.png" alt="">
    </div>
  </div>
  <!-- IMAGE BLOCK -->
  <div class="block-box block-box-blue">
    <img src="/img/gesamt/Elemente/path_blue.png" class="img-fluid" alt="">
    <div class="block blue block-margin">
      <h1 class="h1-white"><span class="title-line line-blue">Bildgalerie</span></h1>
      <div class="gallery">
        <h3>Halle - April 2020</h3>
        <div class="img-container">
          <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/4.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/5.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/6.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        </div>
      </div>
      <div class="gallery">
        <h3>Halle - April 2020</h3>
        <div class="img-container">
          <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/4.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/5.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/6.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
          <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid contact-box">
    <h1 class="h1-white"><span class="title-line">Ansprechpartnerinnen</span></h1>
    <div class="row">
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/03_Ivan.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Inhalte und Konzept</li>
              <li>Ivan Martinez</li>
              <li>0176 47 68 38 16</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:i.martinez@mina-berlin.de">i.martinez@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
