<link rel="stylesheet" href="/styles/prozess.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
 <main>
  <div class="container-fluid">
    <div class="header-bg">
      <img id="header-img" src="/img/gesamt/Projekt/Prozess5.png" class="img-fluid cover-header">
    </div>
    <!-- TABLE BLOCK -->
    <div class="block aktuelles" id="block-prozess">
      <img class="logo" src="/img/gesamt/Logos/icon_prozess.png" alt="">
      <h1 class=""><span class="title-line">Prozessbegleitung <br> 2022</span></h1>
      <p class="ws-text" id="intro-text">Als Mitgliedsorganisation des Bundesverbandes für köper- und mehrfachbehinderte Menschen (bvkm) bietet MINA anderen Mitgliedsorganisationen eine Prozessbegleitung an. Gemeinsam erarbeiten wir konkrete
        Lösungswege, um Menschen
        mit Migrations- und/ oder Fluchterfahrung und einer Behinderung wirksam zu erreichen und zu begleiten.
      </p>

      <p class="ws-text">Folgende Organisationen wurden für eine Kooperation und enge Zusammenarbeit im Rahmen der Prozessbegleitung ausgewählt:</p>
      <ul class="ws-text prozess-list" id="orgas-list">
        <li><a class="orgas" href="https://fed-leipzig.de/de/" target="_blank">Elterninitiative FED Leipzig e. V.</a> </li>
        <li><a class="orgas" href="https://gfi-hannover-stolzenau.de/kontakt/" target="_blank">GfI – Gesellschaft für Integration mbH</a></li>
        <li><a class="orgas" href="https://www.vkm-hamm.de/" target="_blank">Vkm Hamm e.V.</a></li>
      </ul>
      <p class="ws-text">Wir freuen uns auf eine spannende Zeit!</p>
      <a href="/downloads/flyer-prozess.pdf" class="btn" id="btn-flyer" target="_blank">Flyer Prozessbegleitung</a>
    </div>


    <!-- Kontakt -->
    <div class="container-fluid contact-box" id="prozess-contact">
      <h1 class="white"><span class="title-line">Ansprechpartner</span></h1>
      <div class="row">
        <div class="worker col" id="ivan">
          <img class="contact-img" src="/img/gesamt/Logos/Mina_Logo2.png" alt="">
          <div class="worker-info" id="prozess-ap">
            <ul>
              <li class="worker-title">Prozessbegleitung</li>
              <li>Vielfalt inklusiv</li>
              <li>030 – 62 93 40 31</li>
              <li><a href="mailto:vielfalt@mina-berlin.de">vielfalt@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
