<link rel="stylesheet" href="/styles/prozess.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-prozess.png" class="img-fluid cover-header">
  </div>
  <!-- TABLE BLOCK -->
  <div class="block aktuelles" id="block-prozess">
    <img class="logo" src="/img/gesamt/Logos/icon_prozess.png" alt="">
    <h1 class=""><span class="title-line">Workshops Flucht Migration Behinderung</span></h1>
    <p class="ws-text">Als Mitgliedsorganisation des Bundesverbandes für köper- und mehrfachbehinderte Menschen (bvkm) bietet MINA anderen Mitgliedsorganisationen eine Prozessbegleitung an. Gemeinsam erarbeiten wir konkrete Lösungswege, um Menschen mit Migrations- und/ oder Fluchterfahrung und einer Behinderung wirksam zu erreichen und zu begleiten.
    </p>

    <p class="ws-text">FFolgende Organisationen wurden für eine Kooperation und enge Zusammenarbeit im Rahmen der Prozessbegleitung ausgewählt:</p>
    <ul class="ws-text prozess-list">
      <li><a href="https://fed-leipzig.de/de/" target="_blank">Elterninitiative FED Leipzig e. V.</a> </li>
      <li><a href="https://gfi-hannover-stolzenau.de/kontakt/" target="_blank">GfI – Gesellschaft für Integration mbH Vkm Hamm e. V.</a></li>
      <li><a href="https://www.vkm-hamm.de/" target="_blank">Vkm Hamm e.V.</a></li>
    </ul>
    <p class="ws-text">Wir freuen uns auf eine spannende Zeit!</p>
    <a href="/downloads/flyer-prozess.pdf" class="btn" id="btn-flyer" target="_blank">Flyer Prozessbegleitung</a>
  </div>

<!------------------- ZEITSTRAHL ----------------->
  <div class="time-box">
    <h1 class="white"><span class="title-line line-green">Über Ehrenamt in Vielfalt</span></h1>

    <img src="/img/gesamt/Zeitstrahl/Zeitstrahl.png" alt="">
  </div>


  <!-- IMAGE BLOCK -->
  <div class="block blue gallery-block" id="ws-gallery">
    <h1 class="white"><span class="title-line line-blue">Bildgalerie</span></h1>
    <!-- Gallerie 1 -->
    <div class="gallery">
      <h3>Graphic Recording Workshop</h3>
      <div class="img-container-prozess">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/01_Graphic Recording.jpeg" alt=""></a>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/02_Graphic Recording.jpeg" alt=""></a>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/03_Graphic Recording.jpeg" alt=""></a>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/04_Graphic Recording.jpeg" alt=""></a>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img class="gallery-img" src="/img/gesamt/Projekt/WS/05_Graphic Recording.jpeg" alt=""></a>
      </div>
    </div>
  </div>


  <div class="container-fluid contact-box" id="prozess-contact">
    <h1 class="white"><span class="title-line">Ansprechpartner</span></h1>
    <div class="row">
        <div class="worker col">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/03_Ivan.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Projektbetreuung</li>
              <li>Ivan Martinez</li>
              <li>0176 47 68 38 16</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:i.martinez@mina-berlin.de">i.martinez@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
