<div class="container-timeline">
  <div id="timeline">
    <div class="timeline-item">
      <div class="timeline-icon">
      </div>
      <div class="timeline-content">
        <h2>März - Juni 2020</h2>
        <a href="#">Bewerbungsphase</a>
        <ul class="prozess-list">
          <li> Anmelde- & Auswahlverfahren</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
      </div>
      <div class="timeline-content right">
        <h2>Juli</h2>
        <a href="#" >Kennenlernphase</a>
        <ul class="prozess-list">
          <li>Kennenlernen & Austausch; Bildung einer Arbeitsgruppe</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content">
        <h2>ab September</h2>
        <a href="#" >Bedarfsanalyse</a>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>Januar - Februar 2021</h2>
        <a href="#" >Standpunkt definieren</a>
        <ul class="prozess-list">
          <li>Konkretisierung der Bedarfe zur Ideenentwicklung
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content">
        <h2>März</h2>
        <a class="vernetzung" href="#" >Vernetzungstreffen</a>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>April</h2>
        <p class="phase-p">
          Partizipations- & Gestaltungsphase
        </p>
        <ul class="prozess-list">
          <li><a href="#" >Ideen- & Lösungsentwicklung</a></li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content">
        <h2>Mai</h2>
        <a class="vernetzung" href="#" >Vernetzungstreffen</a>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>Mai - Juni</h2>
        <p class="phase-p">
          Partizipations- & Gestaltungsphase
        </p>
        <ul class="prozess-list">
          <li>
            <a href="#" >Konzipierung, Planung & Testen</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content">
        <h2>Juni – September</h2>
        <p class="phase-p">
          Transferphase
        </p>
        <ul class="prozess-list">
          <li>
            <a href="#" >Durchführung der Maßnahmen</a>
          </li>
          <li>
            <a href="#" >Evaluation & Reflektion</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content right">
        <h2>Oktober</h2>
        <a class="vernetzung" href="#" >Großes Vernetzungstreffen</a>
        <ul>
          <li>in Berlin</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
        </svg>
      </div>
      <div class="timeline-content">
        <h2>November - Dezember</h2>
        <p class="phase-p">
          Transferphase
        </p>
        <ul class="prozess-list">
          <li><a href="#" >Ergebnissicherung & Dokumentation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
