<div class="publications-block">
  <h1 class="white"><span class="title-line">Veröffentlichungen</span> </h1>
  <% if(partizip.descriptiontwo) {%>
  <div class="part-text" id="part-text-two"><%-partizip.descriptiontwo %></div>
  <% } %>
  <div class="book">
    <a href="/downloads/2022_Erfahrungsberichte.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch.png" alt=""></a>
  </div>
</div>
