<% layout("layouts/boilerplate") %>
<div class="sponsor-block">
  <div class="block sponsor-box">
    <h1 class=""><span class="title-line line-pink">Unsere Partner und Kooperationen</span></h1>
    <div class="box">
      <img class="img-fluid" src="/img/gesamt/Logos/Logo_Gefoerdert.png" alt="">
      <img class="img-fluid" src="/img/gesamt/Logos/Logo_kooperation.png" alt="">
    </div>
  </div>
</div>
