<% layout("layouts/boilerplate") %>
  <div class="map-block" >
    <h1 class="h1-white"><span class="title-line line-blue">MINA Standorte in Deutschland</span></h1>
    <div class="map-box box mt-5 mb-5 pb-5">
      <img class="img-fluid" id="map" src="/img/gesamt/Logos/deutschland_karte@2x.png" alt="">
      <div class="text-box">
        <h3>Berlin</h3>
        <hr>
        <p>Berlin MINA – Leben in Vielfalt e. V.</p>
        <p>Friedrichstraße 1</p>
        <p>10969 Berlin</p>
        <p>030 62 93 40 31</p>
        <p>vielfalt@mina­berlin.de</p>
      </div>
    </div>
  </div>
