<div class="publications-block">
  <h1 class="white"><span class="title-line">Veröffentlichungen</span> </h1>
  <% if(partizip.descriptiontwo) {%>
  <div class="part-text" id="part-text-two"><%-partizip.descriptiontwo %></div>
  <% } %>
  <div class="book">
    <a href="/downloads/2022_Erfahrungsberichte.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch.png" alt=""></a>
  </div>
</div>


<% if(partflyer) {%>
  <% partflyer.images.forEach((img, i) => { %>
  <a href="<%=img.attach%>" download class="btn" id="btn-flyer" target="_blank"><%=partflyer.title%></a>
  <% }) %>
  <% } else { %>

    <% } %>




   
    <li><strong>Mitgliedschaft bvkm:</strong> ${req.body.wsr.membership}</li>
  
    <li><strong>Assistenzbedarf:</strong> ${req.body.wsr.assistance}</li>
    <li><strong>Welcher Assistenzbedarf:</strong> ${req.body.wsr.assistanceneed}</li>
    <li><strong>Hilfsmittel:</strong> ${req.body.wsr.aid}</li>
    <li><strong>Welche Hilfsmittel:</strong> ${req.body.wsr.aids}</li>
