<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>

<div class="carousel-box">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/gesamt/Projekt/WS/01_Graphic Recording.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/02_Graphic Recording.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/03_Graphic Recording.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/04_Graphic Recording.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/05_Graphic Recording.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>

<div class="carousel-box">
  <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/gesamt/Projekt/WS/01_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/02_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/03_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/04_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/06_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/07_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/08_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/09_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/10_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/11_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/gesamt/Projekt/WS/12_Gallerie.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
