<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>


<% if(currentUser) {%>
  <textarea name="editor1"></textarea>
                <script>
                        CKEDITOR.replace( 'editor1' );
                </script>

  <%} else { %>

    <h1>yoooooooooooooooo</h1>
  <% } %>
