<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>


    <!-------------- TEST CODE ----------------->

    <main>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <div class="banner">Scroll Down</div>
      <div class="körper">
        This example demonstrates how to create a "scroll to top" button that becomes visible <strong>when the user starts to scroll the page</strong>
      </div>
    </main>
    <script src="/scripts/test.js" charset="utf-8"></script>

    <!-------------- TEST CODE ----------------->
