<link rel="stylesheet" href="/styles/test.css">
<% layout("layouts/boilerplate") %>


    <!-------------- TEST CODE ----------------->

    <main>
      <form>
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor 4.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor 4
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
        </form>
    </main>
    <script src="/scripts/test.js" charset="utf-8"></script>

    <!-------------- TEST CODE ----------------->
