<link rel="stylesheet" href="/styles/test.css">
<link rel="stylesheet" href="/styles/landing.css">
<% layout("layouts/boilerplate") %>

<h1>Yooooooooooooooo</h1>
<% for(let test of tests) {%>
<h1><%= test.title%></h1>
<% }%>

<% for(let post of posts) {%>
<h1><%= post.title%></h1>
<% }%>
