<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/test.css">

<body class="d-flex flex-column vh-100">

<!-- TEST CODE GOES HERE -->
<div class="container-fluid">
  <div class="ws-tabelle">
    <img class="logo img-fluid" src="/img/gesamt/Logos/icon_netzwerk.png" alt="">
    <h1 class=""><span class="title-line">Workshops Flucht Migration Behinderung</span></h1>
    <p class="ws-text">To city be treat. To one drunk between grammar. The to long more positives been in
      cover as made as of spree. From were him, the and supplies hand, towards is respective were
      ancient new incurred safe folks had house. Prepared this that was and belt including design
      would these him a new in ago found every that indication greatest her pay refinement from
      you any the by concept of right could does belong, not but be to think of is her hotel
      seemed an abandon nonetheless, but by meals a but steps is way for the of makes of.</p>
    <table class="table table-responsive table-hover" id="table-ws">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datum</th>
          <th scope="col">Workshop</th>
          <th scope="col">Ort</th>
          <th scope="col">Verfügbarkeit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>25.11. – 27.11.2020</td>
          <td>Workshop in digitaler Form</td>
          <td>Stuttgart</td>
          <td><a href="#">anmelden</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>25.11. – 27.11.2020</td>
          <td>Workshop in digitaler Form</td>
          <td>Stuttgart</td>
          <td><a href="#">anmelden</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>25.11. – 27.11.2020</td>
          <td>Workshop in digitaler Form</td>
          <td>Stuttgart</td>
          <td><a href="#">anmelden</a></td>
        </tr>
      </tbody>
    </table>
    <p class="ws-text">Der Workshop beginnt jeweils um 9 Uhr und endet spätestens um 16:30 Uhr.</p>
    <p class="ws-text">Am letzten Tag bereits um 16 Uhr. Weitere Informationen finden Sie in unserem
      aktuellen Flyer.</p>
    <a href="#" class="btn" id="btn-flyer">Unser aktueller Workshop Flyer</a>
  </div>

</div>

<!-- TEST CODE GOES HERE -->

</body>
