<% layout("layouts/boilerplate") %>
<div class="block aktuelles">
  <h1 class=""><span class="title-line">Aktuelles</span></h1>
  <h3>Während der Corona Zeit – Korona döneminde - خلالة فترة أزمة كورونا</h3>
  <p>Hier finden Sie hilfreiche Informationen rund um das Thema Corona-Virus</p>
  <p>Bu sayfalarda Korona virüsu ve yardımlaşma konusunda yararlı bilgiler bulabilirsini</p>
  <p>نقدم لكم تاليا مجموعة من الروابط المفيدة المتعلقة بآزمة كورونا
  </p>
  <a href="#" class="btn" id="btn-flyer">Unser aktueller Flyer</a>
</div>
