<link rel="stylesheet" href="/styles/ukraine.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<main>
  <div class="container-fluid">
    <div class="header-bg">
      <img id="header-img" src="/img/gesamt/Projekt/bg-ukraine-2.jpg" class="img-fluid cover-header">
    </div>
    <!-- TEXT BLOCK -->
    <div class="block" id="header-ukraine">
      <!-- <img class="logo" src="/img/gesamt/Logos/WBM_Flucht-Migration-Behin.gif" alt=""> -->
      <h1 id="" class="ws-title title-line"><span><%= ukrtext.title %></span></h1>
      <div id="ukraine-text"><%-ukrtext.description %></div>
    </div>
    <% if(currentUser) {%>
    <div class="btn-box">
      <a href="/ukraine-text/<%=ukrtext._id%>/edit" class="btn btn-aktuelles-blue">Text Bearbeiten</a>
    </div>
    <% } %>
    <!-- VERÖFFENTLICHUNGEN BLOCK -->
    <div class="block blue gallery-block" id="releases-ukraine">
      <h1 class="white"><span class="title-line line-blue">Veröffentlichungen</span></h1>
      <!-- Test Gallery -->
      <div id="book">
        <div id="book-box">
          <a href="/downloads/MINA_Handreichung_ukrainisch-WEB_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Ukrainisch-1.jpg" alt=""></a>
          <a href="/downloads/MINA-Handreichung_russ_web_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Russisch-1.jpg" alt=""></a>
          <a href="/downloads/MINA_Familienportraits_ukrainisch_web_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Ukrainisch-2.jpg" alt=""></a>
          <a href="/downloads/Familienportraits_MINA_russisch_web_verlinkt.pdf" target="_blank"><img class="book-img" src="/img/gesamt/Projekt/Buch-Russisch-2.jpg" alt=""></a>
        </div>
      </div>
    </div>
    <!-- VERÖFFENTLICHUNGEN BLOCK -->

    <!-- Kontakt -->

  </div>