<link rel="stylesheet" href="/styles/workshopsthree.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<main>
  <div class="container-fluid">
    <!-- TEXT BLOCK -->
    <div class="block" id="header-ws-2022">
      <!-- <img class="logo" src="/img/gesamt/Logos/WBM_Flucht-Migration-Behin.gif" alt=""> -->
      <h1 id="" class="ws-title title-line"><span><%= wsthreetext.title %></span></h1>
      <div id="ws-20022-text"><%-wsthreetext.description %></div>
      <% if(currentUser) {%>
        <div class="btn-box">
          <a href="/workshops2022/<%=wsthreetext._id%>/edit" class="btn btn-aktuelles-blue">Text Bearbeiten</a>
        </div>
        <% } %>
    </div>

    <!-- Kontakt -->
    <div class="container-fluid contact-box" id="ws-contact">
        <h1 class="white"><span class="title-line">Ansprechpersonen</span></h1>
        <div class="row">
          <div class="worker col">
            <img class="contact-img" src="/img/gesamt/Mitarbeiter/07_Laura.jpg" alt="">
            <div class="worker-info">
              <ul>
                <li class="worker-title">Inhalte und Konzept</li>
                <li>Laura Schödermaier</li>
                <li>030 – 62 93 40 31</li>
                <li><a href="mailto:l.schoedermaier@mina-berlin.de">l.schoedermaier@mina-berlin.de</a> </li>
              </ul>
            </div>
          </div>
          <div class="worker col">
            <img class="contact-img" src="/img/gesamt/Mitarbeiter/11_Abdurrahman.png" alt="">
            <div class="worker-info">
              <ul>
                <li class="worker-title">Teamassistenz Workshops & Öffentlichkeitsarbeit</li>
                <li>Abdurrahman Gügercin</li>
                <li>030 – 62 93 40 31</li>
                <li><a href="mailto:a.guegercin@mina-berlin.de">a.guegercin@mina-berlin.de</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  </div>