<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
<div class="container-fluid">
  <div class="header-bg">
    <img src="/img/gesamt/Projekt/bg-workshops.png" class="img-fluid cover-header">
  </div>
  <!-- TABLE BLOCK -->
  <div class="ws-tabelle">
    <img class="logo img-fluid" src="/img/gesamt/Logos/icon_netzwerk.png" alt="">
    <h1 class=""><span class="title-line">Workshops Flucht Migration Behinderung</span></h1>
    <p class="ws-text">To city be treat. To one drunk between grammar. The to long more positives been in
      cover as made as of spree. From were him, the and supplies hand, towards is respective were
      ancient new incurred safe folks had house. Prepared this that was and belt including design
      would these him a new in ago found every that indication greatest her pay refinement from
      you any the by concept of right could does belong, not but be to think of is her hotel
      seemed an abandon nonetheless, but by meals a but steps is way for the of makes of.</p>
    <table class="table table-responsive table-hover" id="table-ws">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datum</th>
          <th scope="col">Workshop</th>
          <th scope="col">Ort</th>
          <th scope="col">Verfügbarkeit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>25.11. – 27.11.2020</td>
          <td>Workshop in digitaler Form</td>
          <td>Stuttgart</td>
          <td><a href="#">anmelden</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>25.11. – 27.11.2020</td>
          <td>Workshop in digitaler Form</td>
          <td>Stuttgart</td>
          <td><a href="#">anmelden</a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>25.11. – 27.11.2020</td>
          <td>Workshop in digitaler Form</td>
          <td>Stuttgart</td>
          <td><a href="#">anmelden</a></td>
        </tr>
      </tbody>
    </table>
    <p class="ws-text">Der Workshop beginnt jeweils um 9 Uhr und endet spätestens um 16:30 Uhr.</p>
    <p class="ws-text">Am letzten Tag bereits um 16 Uhr. Weitere Informationen finden Sie in unserem
      aktuellen Flyer.</p>
    <a href="#" class="btn" id="btn-flyer">Unser aktueller Workshop Flyer</a>
  </div>
  <!-- IMAGE BLOCK -->
  <div class="block blue gallery-block">
    <h1 class="h1-white"><span class="title-line line-blue">Aktuelles</span></h1>
    <div class="gallery gallery-partizip">
      <h3>Vortstellung des Projekts bei der KHSB</h3>
      <h4>19.11.2020</h4>
      <p>Partizipative Projekte sollen Menschen mit Migrations- und/oder Fluchterfahrung und Behinderung, deren Angehörigen und Ehrenamtlichen die Möglichkeit geben, sich selbst zu äußern, ihre Themen und Meinungen auszudrücken und öffentlich Raum
        zu geben.</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
    </div>
    <div class="gallery gallery-partizip">
      <h3>Gespräche mit der Zielgruppe</h3>
      <h4>10.11.2020</h4>
      <p>Viele Themen der Schnittstelle Flucht, Migration und Behinderung sind oft Teil abstrakter Diskussionen, in denen Menschen nicht im Mittelpunkt stehen. Um dies zu ändern, gab es am vergangenen Freitag eine umfassende Befragung der
        Ziegruppe.</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
    </div>
    <div class="gallery gallery-partizip">
      <h3>Kooperationsgespräche mit der ASH und der KHSB</h3>
      <h4>19.10.2020</h4>
      <p>Nach einem gemeinsamen Treffen wurde einstimmig eine Kooperation beschlossen. Die Umsetzung der Projekte erfolgt gemeinsam mit Studierenden der Alice Salomon Hochschule (ASH) und der Katholischen Hochschule Berlin (KHSB).</p>
      <div class="img-container-partizip">
        <img class="gallery-img" src="/img/gesamt/Projekt/1.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/2.jpg" alt="">
        <img class="gallery-img" src="/img/gesamt/Projekt/3.jpg" alt="">
      </div>
      <p class="more">Weitere Beiträge ....</p>
    </div>
  </div>

  <!-- MITARBEITER BLOCK -->
  <div class="container-fluid contact-box" id="ws-contact">
    <h1 class="h1-white"><span class="title-line">Ansprechpartnerinnen</span></h1>
    <div class="row">
        <div class="worker col-sm-6">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/05_Jana.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Inhalte und Konzept</li>
              <li>Jana Lubinova</li>
              <li>0157 - 850 783 07</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:j.lubinova@mina-berlin.de">j.lubinova@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
        <div class="worker col-sm-6">
          <img class="contact-img" src="/img/gesamt/Mitarbeiter/01_Britta.jpg" alt="">
          <div class="worker-info">
            <ul>
              <li class="worker-title">Organisation</li>
              <li>Britta Möller</li>
              <li>0157 - 850 783 07</li>
              <li>030 62 93 40 31</li>
              <li><a href="mailto:b.moeller@mina-berlin.de">b.moeller@mina-berlin.de</a> </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
