<link rel="stylesheet" href="/styles/workshops.css">
<link rel="stylesheet" href="/styles/workshopstwo.css">
<% layout("layouts/boilerplate") %>
<!-- NAV + HEADER -->
  <div class="container-fluid">
    <!-- <div class="header-bg">
      <img src="/img/gesamt/Projekt/bg-workshops3.jpg" class="img-fluid cover-header" id="img-header-ws">
    </div> -->
    <!-- TABLE BLOCK -->
    <div id="diagram-block">
      <!-- <img class="logo-ws img-fluid" src="/img/gesamt/Logos/icon_netzwerk.png" alt=""> -->
      <h1 class="title-line">Workshops 2020-2021</h1>
      <div class="img-box">
        <img id="diagramm" src="/img/gesamt/Projekt/Bild_Diagramm_TN.png" alt="">
      </div>
    </div>
  </div>
    <!-- IMAGE BLOCK -->
    <div class="block blue gallery-block" id="block-blue">
      <h1 class="white"><span class="title-line line-blue">Konzeption</span></h1>
      <div class="ws-text text-white" id="ws-intro">
        Alle Menschen haben das Recht auf eine gleichberechtigte Teilhabe am gesellschaftlichen Leben. An vielen Stellen fehlt es jedoch an den geeigneten Zugängen, um den Personenkreis zu erreichen. Als Teil von MINA – Leben in Vielfalt e. V. bot das Projekt Ehrenamt in Vielfalt 2020 und 2021 verschiedene Workshops an, um das Wissen an der Schnittstelle Flucht, Migration und Behinderung bundesweit zu tragen, die verschiedenen Akteur*innen zu vernetzen und einen Austausch anzuregen.
      </div>
      <a href="/img/gesamt/Projekt/Dokumentation WS.png" target="_blank"><div class="img-box">
        <img id="diagramm" src="/img/gesamt/Projekt/Dokumentation WS.png">
      </div></a>
    <!-- MITARBEITER BLOCK -->
    <div class="container-fluid contact-box" id="ws-contact">
      <h1 class="white"><span class="title-line">Informationen</span></h1>
      <div class="ws-dok-text-box">
        <p class="ws-dok-text">Ausgewählte Publikationen und Präsentationen aus den Workshops finden Sie in unserer <a class="ws-dok-links" href="/online-bibliothek"> Online- Bibliothek</a>.</p>
        <p class="ws-dok-text">Bei Fragen zu einem der vergangenen Workshops, schreiben Sie uns gerne eine E-Mail an: <a class="ws-dok-links" href="mailto:ielfalt@mina-berlin.de">vielfalt@mina-berlin.de</a>.</p>
      </div>
    </div>
