<% layout("layouts/boilerplate") %>
<div class="container">
    <ul>
      <li><%= timeline.title %></li>
      <li><%= timeline.date %></li>
      <li><%= timeline.phase %></li>
    </ul>
    <p><%- timeline.description %></p>
</div>
