<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class=""><span class="title-line line-pink">Workshop Hinzufügen</span></h1>
  <div class="col-6 offset-3">
    <form action="/workshop" method="post" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="date">Datum</label>
        <input class="form-control" type="text" id="date" name="workshop[date]" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="title">Überschrift</label>
        <input class="form-control" type="text" id="title" name="workshop[title]" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="type">Seminarort</label>
        <select class="form-control" id="type" name="workshop[type]">
          <option value="Online">Online</option>
          <option value="Präsenzseminar">Präsenzseminar</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Seminarort 1</label>
        <input class="form-control" type="text" id="location" name="workshop[location]"required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location2">Seminarort 2</label>
        <input class="form-control" type="text" id="location2" name="workshop[location2]"required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location3">Seminarort 3</label>
        <input class="form-control" type="text" id="location3" name="workshop[location3]"required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="capacity">Verfügbarkeit</label>
        <select class="form-control" id="capacity" name="workshop[capacity]">
          <option value="anmelden">anmelden</option>
          <option value="ausgebucht">ausgebucht</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Beschreibung</label>
        <textarea class="form-control" type="text" id="description" name="workshop[description]" required></textarea>
        <script>
          CKEDITOR.replace('description');
        </script>
      </div>
      <div class="mb-3">
        <button class="btn btn-success btn-mina">Speichern</button>
      </div>
    </form>
    <a href="/workshops">Zurück</a>
  </div>
</div>
