.form-check-input:checked {
  background-color: #db2a6f;
  border-color: #db2a6f;
}

label {
  font-weight: bold;
}

@media screen and (min-width: 0) and (max-width: 575.98px) {
  #form-ws-register {
    width: 90%;
    margin-left: 5%;
  }
  .form-control {
    font-size: 14px;
  }
}
