#datenschutz-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daten-box {
  margin-top: -5vh;
}

.datenschutz-text .ws-text {
  font-size: 18px;
  text-align: justify;
}

.datenschutz-text a {
  color: #72c5d5;
}

.datenschutz-text h3 {
  font-weight: bold;
}
.datenschutz-text a:hover {
  color: #db2a6f;
}

#h1-datenschutz {
  padding-bottom: 0;
}

.first-datenschutz {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.next-datenschutz {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#last {
  margin-bottom: 10vh;
}

h3,
h4 {
  align-self: flex-start;
  margin-left: 25%;
  width: 50%;
}

h4 {
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#contact-datenschutz {
  padding: 0;
  margin: 2vh 0;
}

.rechte {
  width: 50%;
  line-height: 1.5;
}

.rechte li::before,
#contact-datenschutz li::before {
  content: "\2022";
  color: #db2a6f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.rechte {
  font-weight: bold;
}
