.container-flyer,
.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-aktuelles-blue,
.btn-group {
  margin: 1vh 0;
}

#btn-edit,
#btn-delete {
  margin-bottom: 1vh;
}

.card-flyer {
  width: 50%;
  margin: 0 auto;
}

.flyer-download {
  font-weight: bold;
  color: #0dcaf0;
}

.flyer-download:hover {
  font-weight: bold;
  color: #db2a6f;
}

.flyer-file {
  font-weight: bold;
  color: #db2a6f;
}
