footer {
  padding-bottom: 5px;
}
.footer {
  z-index: 1000000;
  background-color: #073b4c;
}

.footer-contact {
  color: #fff;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
}

.social-items {
  flex-grow: 3;
  display: flex;
  justify-content: center;
}

.social-items a {
  padding: 0 3vw;
  color: #fff;
}

.impress-data a,
.impress-data {
  color: #fff;
}

.social-items a:hover,
.social-items i:hover,
.impress-data a:hover {
  color: #db2a6f;
}
.social-icon-mail:hover {
  color: #db2a6f;
  background-color: none;
  border: none;
}

.social-icon-mail {
  color: #fff;
  border: #fff;
  border-radius: 50%;
  padding: 1px;
}

.social-span {
  display: block;
  text-align: center;
}
.data-impress {
  margin: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
