.pflichtfeld {
  color: #db2a6f;
  font-weight: bold;
}
@media screen and (min-width: 0) and (max-width: 575.98px) {
  .form-control {
    font-size: 14px;
  }
  #form-ws-register,
  #form-ws-new,
  #form-aktuell-edit,
  #form-calendar-new,
  #form-calendar-edit,
  #form-about-edit {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
