.pflichtfeld {
  color: #db2a6f;
  font-weight: bold;
}
.label-bold {
  font-weight: bold;
}
.partizip-file {
  font-weight: bold;
  color: #db2a6f;
}

.btn-form {
  display: block;
}

.disclaimer-box {
  margin-top: 5vh;
}

#disclaimer {
  font-weight: bold;
}

.disclaimer-links {
  color: #0dcaf0;
  font-weight: bold;
}
.disclaimer-links:hover {
  color: #db2a6f;

}

.btn-aktuelles-blue {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: #fff;
  font-weight: bold;
}


@media screen and (min-width: 0) and (max-width: 575.98px) {
  .form-control {
    font-size: 14px;
  }
  #form-ws-register,
  #form-ws-new,
  #form-ws-aktuell-edit,
  #form-aktuell-edit,
  #form-calendar-new,
  #form-calendar-edit,
  #form-about-edit,
  #form-bib-new,
  #form-landingflyer-new,
  #form-partizip-new,
  #form-partizip-edit,
  #form-prozess-new,
  #form-ukrtext-edit,
  #form-ukrtext-new,
  #form-expotext-new,
  #form-expotext-edit
   {
    width: 90% !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
  }
}

@media screen and (min-width: 575.98px) and (max-width: 991.98px) {
  #form-ws-register,
  #form-ws-new,
  #form-ws-aktuell-edit,
  #form-aktuell-edit,
  #form-calendar-new,
  #form-calendar-edit,
  #form-about-edit,
  #form-partizip-edit,
  #form-bib-new,
  #form-landingflyer-new,
  #form-partizip-new,
  #form-partizip-edit,
  #form-prozess-new,
  #form-ukrtext-edit,
  #form-ukrtext-new,
  #form-expotext-new,
  #form-expotext-edit {
    width: 80% !important;
    margin-left: 10% !important;
    margin-bottom: 5% !important;
  }
}
