.pflichtfeld {
  color: #db2a6f;
  font-weight: bold;
}
.label-bold {
  font-weight: bold;
}
.partizip-file {
  font-weight: bold;
  color: #db2a6f;
}

.btn-form {
  display: block;
}

@media screen and (min-width: 0) and (max-width: 575.98px) {
  .form-control {
    font-size: 14px;
  }
  #form-ws-register,
  #form-ws-new,
  #form-ws-aktuell-edit,
  #form-aktuell-edit,
  #form-calendar-new,
  #form-calendar-edit,
  #form-about-edit,
  #form-bib-new,
  #form-landingflyer-new,
  #form-partizip-new,
  #fform-partizip-edit {
    width: 90% !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
  }
}

@media screen and (min-width: 575.98px) and (max-width: 991.98px) {
  #form-ws-register,
  #form-ws-new,
  #form-ws-aktuell-edit,
  #form-aktuell-edit,
  #form-calendar-new,
  #form-calendar-edit,
  #form-about-edit,
  #form-partizip-edit,
  #form-bib-new,
  #form-landingflyer-new,
  #form-partizip-new,
  #fform-partizip-edit {
    width: 80% !important;
    margin-left: 10% !important;
    margin-bottom: 5% !important;
  }
}
