/********** PARTIZIP STYLES ***********/

.img-container-partizip {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery-partizip {
  width: 70%;
}

.gallery-partizip h3,
h4,
p {
  margin-left: 0;
}

.gallery-partizip h4,
p {
  font-weight: normal;
}
iframe {
  margin: 5vh 0;
  border: 5px solid #db2a6f;
}
video {
  height: 350px;
  width: auto;
  margin-bottom: 7vh;
}

#header-part {
  clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%) !important;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 15vh;
  margin-top: -5vh;
}

#bg-partizip {
  padding-top: 12vh;
  height: 450px;
  margin-top: -4vh;
  }

  #book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
  }

  #book-box {
    display: flex;
    justify-content: center;
    margin: 10px
  }

/********** PARTIZIP STYLES ***********/
.logo-part {
  margin: 2vh 0;
}
.part-text {
  color: #000;
  width: 50%;
  text-align: justify;
  font-size: 18px;
}
.btn-aktuelles {
  border-color: #0dcaf0;
  color: #0dcaf0;
  font-weight: bold;
  margin-bottom: 5vh;
}

.btn-aktuelles:hover {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: #fff;
  font-weight: bold;
}

.btn-aktuelles-blue {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: #fff;
  font-weight: bold;
}

.btn-aktuelles-blue:hover {
  border-color: #0dcaf0;
  color: #0dcaf0;
  background-color: #fff;
  font-weight: bold;
}

.btn-mina {
  margin-bottom: 5vh;
}

#part-contact {
  clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
  background-color: #db2a6f;
  padding: 6vh 0 5vh 0;
  height: auto;
}

#part-contact h1 {
  margin: 5vh 0 10vh 0;
}

.img-container-partizip {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery-partizip {
  width: 70%;
}

.gallery-partizip h3,
h4,
p {
  margin-left: 0;
}

.gallery-partizip h4,
p {
  font-weight: normal;
}
iframe {
  margin: 5vh 0;
  border: 5px solid #db2a6f;
}
video {
  height: 400px;
  width: auto;
  margin-bottom: 7vh;
}

#header-part {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 15vh;
  margin-top: -5vh;
}

.video-box {
  margin: 5vh 0;
}

.gallery-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.gallery-ws {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-ws-link {
  height: 200px;
}

.card-part {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 3px solid #db2a6f;
  border-radius: 0.25rem;
  align-items: center;
}
.card-part-gallery {
  width: 100%;
}

.gallery2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-img-card {
  height: 120px;
  margin: 5px;
}

.img-part-card {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #db2a6f;
  margin-top: 2vh;
}

.card-title {
  color: #72c5d5;
  font-size: 24px;
  margin: 0;
}

#part-gallery {
  margin-top: -18vh;
  padding-bottom: 15vh;
}
.form-check-inline {
  display: block;
}

/* Flyer Styles */
.card-flyer {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #db2a6f;
}
#partflyer-how-title {
  color: #db2a6f;
  font-weight: bold;
}

.publications-block {
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 100%);
  background-color: #db2a6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  margin-top: -10vh;
  padding-bottom: 20vh;
}

.book-img {
  margin: 0 2vw;
  height: 250px;
  border: 1px solid #000;
}
#part-text-two {
  color: #fff;
}
.exposition-block {
  margin-top: -10vh;
  clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
  background-color: #9fb039;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.exposition-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#exposition-text, #puplications-text{
  width: 50%;
  font-size: 18px;
  color: white;
  text-align: center;
}
.btn-wander {
    background-color: #ffffff;
    border-color: #4caf50;
    color: #9fb039;
    font-weight: bold;

    /* outline: none;
    border: none;
    cursor: pointer;
    background: #db2a6f;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    box-shadow: 0 2px #b4225a;
    position: relative; */
}

.btn-wander:hover {
    background-color: #9fb039;
    border-color: #fff;
    color: #fff;
    font-weight: bold;
    /* box-shadow: 0 1px #b4225a;
	  top: 1px; */
}

/* .btn-wander:active {
	box-shadow: 0 0 #b4225a;
	top: 2px;
} */
#podcast-block {
  clip-path: polygon(0 0%, 100% 2%, 100% 100%, 0% 100%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5vh;
    padding-top: 5%;
}

#podcast-player-box {
  margin-bottom: 10%;
}
/* Flyer Styles */
@media screen and (min-width: 0) and (max-width: 575.98px) {
  .part-text {
    width: 85%;
    text-align: justify;
    font-size: 14px;
  }
  video {
    height: auto;
    width: 90%;
  }
  #part-contact h1 {
    margin: 5vh 0 5vh 0;
  }
}
@media screen and (min-width: 575.98px) and (max-width: 991.98px) {
  #bg-partizip {
    height: 500px;
  }
  video {
    height: 350px;
  }
  #part-contact h1 {
    margin: 5vh 0 5vh 0;
  }
  .part-text {
    min-width: 75%;
  }
}
