.prz-two-text {
  text-align: justify;
  width: 50%;
  font-size: 18px;
}

#prz-two-intro-text {
  font-weight: bold;
}
.prz-btn-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh
}

.btn-prz-flyer {
  background-color: #db2a6f;
  color: #fff;
  font-size: 16px;
  z-index: 2;
  margin: 2vh 0 1vh 0;
  text-align: center;
  font-weight: bold;
}
.btn-prz-text, .btn-prz-flyer {
  width: 250px;
  padding: 10px;
}

.hiddenh2 {
  color: #db2a6f !important;
}

#header-img {
  height: 450px;
  padding-top: 12vh;
  margin-top: -4vh;
}
