#timeline-block {
  padding-bottom: 15vh;
}

#block-prozess {
  margin-top: -15vh;
  clip-path: polygon(0 0, 100% 7%, 100% 90%, 0 100%);
  height: auto;
  padding-top: 10vh;
  margin-top: -15vh;
}
.prozess-list {
  list-style: none;
}

.prozess-list a {
  color: #000;
}
.prozess-list a:hover {
  color: #db2a6f;
}

.prozess-list li::before {
  content: "\2022";
  color: #db2a6f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.time-box {
  clip-path: polygon(0 8%, 100% 0%, 100% 94%, 0% 100%);
  background-color: #9fb039;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 15vh;
}
