/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@font-face {
  font-family: calibri;
  src: url("/fonts/calibri.ttf");
}
/* FONT IMPORT */

/* GENERAL STYLES */
body {
  background-color: black;
  font-family: calibri;
}
h1 {
  margin-bottom: 5vh;
}

.h1-white {
  color: #fff;
}
.container-fluid {
  padding: 0;
  margin-top: 0;
}
/* GENERAL STYLES */

/* NAVBAR STYLE */
.navbar {
  background-color: #fff;
  z-index: 2;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  padding: 1.5rem;
}

.navbar-nav {
  border-top: 3px solid #db2a6f;
  margin-right: 1vw;
}

#logo-subtitle {
  color: #000;
  margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #72c5d5;
  color: #fff;
}

.symbol {
  margin: 0 10px;
}

.symbol-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  padding-top: 6vh;
}
.navbar > .container-fluid {
  align-items: baseline;
}

.navbar-collapse {
  flex-direction: column;
}
.navbar-toggler {
  background-color: #db2a6f;
}

.br-link {
  text-align: center;
}

#path-nav {
  z-index: 1;
  margin-top: -25vh;
}
.mina-logo {
  margin-left: 3vw;
}

.mina-logo > img {
  padding-top: 2vh;
}

/* NAVBAR STYLE */

/* DOCUMENT STYLE */

.block {
  height: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rosa {
  background-color: #db2a6f;
}
.green {
  background-color: #9fb039;
  margin-top: -15vh;
}
.blue {
  background-color: #72c5d5;
}

/* Container STYLE */

/* LANDING STYLE */
#path-1 {
  margin-top: -25vh;
  z-index: 3;
}

#cover-image,
.block-box {
  margin-top: -15vh;
}

#cover-landing {
  z-index: -1;
  width: 100%;
  height: 500px;
}

#path-3 {
  margin-top: -5vh;
  z-index: -1;
}
#aktuelles {
  margin-top: -20vh;
  padding-top: 5%;
}

#btn-flyer {
  background-color: #db2a6f;
  color: #fff;
  font-weight: bold;
  z-index: 2;
}
#calendar,
#über {
  margin-top: -10vh;
}
#calendar-content {
  padding-top: 15vh;
}
.list-group-item.active {
  background-color: #72c5d5;
  border-color: #72c5d5;
}
.list-group-item,
.list-group-item.active {
  color: #000;
}

.text-block {
  width: 50%;
  color: #fff;
  padding-bottom: 5vh;
}

#block-box-blue {
  margin-top: -20vh;
}

#map {
  height: 410px;
  margin-right: 5vw;
}
.box {
  display: flex;
  z-index: 2;
}
.map-box {
  justify-content: center;
  width: 100%;
}

.text-box {
  background-color: #2c6a85;
  border: 2px solid #2c6a85;
  height: 300px;
  width: 400px;
  text-align: center;
  padding: 10px;
  color: #fff;
  margin-top: 5%;
  margin-left: 5vw;
}

.sponsor {
  margin-top: -10vh;
}

#btn-contact {
  background-color: #72c5d5;
  border-color: #72c5d5;
  color: #fff;
  font-weight: bold;
  float: right;
}
/* LANDING STYLE */

/* FOOTER STYLE */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20vh;
  z-index: -1;
}

.footer-contact {
  color: #fff;
  list-style: none;
  font-size: 12px;
}

.social-items a {
  padding: 0 1vw;
  color: #fff;
}

.social-items a:hover {
  color: #db2a6f;
}
.social-icon-mail:hover {
  color: #db2a6f;
  background-color: #fff;
}

.social-icon-mail {
  color: #343a40;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1px;
}
#path-footer {
  margin-bottom: -32vh;
  margin-top: -25vh;
  z-index: 3;
}
/* FOOTER STYLE */

.title-line {
  padding-bottom: 3px;
  border-bottom: 3px solid #72c5d5;
}

.line-green {
  border-bottom: 3px solid #5a793e;
}

.line-blue {
  border-bottom: 3px solid #2c6a85;
}

.line-pink {
  border-bottom: 3px solid #db2a6f;
}

/* MEDIA BREAKPOINTS */
@media (min-width: 576px) {
  .nav-link {
    text-align: center;
  }
}
