body {
  background-color: black;
}
h1 {
  color: white;
}

.h1 {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #72c5d5;
}

/* NAVBAR STYLE */
.navbar {
  background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  padding: 1.5rem;
}

.navbar-nav {
  border-top: 3px solid #db2a6f;
  margin-right: 1vw;
}

#logo-subtitle {
  color: #000;
  margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #db2a6f;
}

#symbols {
  width: 200px;
}

.symbol-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 3vw;
  padding-top: 5vh;
}
.navbar > .container-fluid {
  align-items: baseline;
}

.navbar-collapse {
  flex-direction: column;
}
.navbar-toggler {
  background-color: #db2a6f;
}

.br-link {
  text-align: center;
}

/* NAVBAR STYLE */

/* DOCUMENT STYLE */
.block-box {
  padding-top: 60vh;
}
.block {
  height: 300px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rosa {
  background-color: #db2a6f;
}
/* DOCUMENT STYLE */

/* Container STYLE */
.container-fluid {
  padding: 0;
  margin-top: 0;
}
/* .container-landing {
  background-image: url(/img/photo-1529156069898-49953e39b3ac.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
/* Container STYLE */

/* LANDING STYLE */
#path-1 {
  margin-top: -25vh;
}

#path-3 {
  margin-top: -5vh;
  z-index: -1;
}
#aktuelles {
  margin-top: -20vh;
  padding-top: 5%;
}

#btn-flyer {
  background-color: #db2a6f;
  color: #fff;
  font-weight: bold;
  z-index: 2;
}
/* LANDING STYLE */
