/* NAVBAR STYLE */
.navbar {
  background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
}

.navbar-nav {
  border-top: 3px solid #db2a6f;
  margin-right: 1vw;
}

#logo-subtitle {
  color: #000;
  margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #db2a6f;
}

#symbols {
  width: 200px;
}

.symbol-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
  padding-top: 2vh;
}
.navbar > .container-fluid {
  align-items: baseline;
}

.navbar-collapse {
  flex-direction: column;
}
/* NAVBAR STYLE */
