/********** FONTS  ***********/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@font-face {
  font-family: calibri;
  src: url("/fonts/calibri.ttf");
}
/********** FONTS  ***********/

/********** GENERAL STYLES ***********/
body {
  background-color: aquamarine;
  font-family: calibri;
}
h1 {
  text-align: center;

  margin: 5vh 0 5vh 0;
}

.white {
  color: #fff;
}
.container-fluid {
  padding: 0;
  margin-top: 0;
}
.block {
  height: auto;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rosa {
  background-color: #db2a6f;
}
.green {
  background-color: #9fb039;
  margin-top: -15vh;
}
.blue {
  background-color: #72c5d5;
}

.title-line {
  padding-bottom: 3px;
  border-bottom: 3px solid #72c5d5;
}

.line-green {
  border-bottom: 3px solid #5a793e;
}

.line-blue {
  border-bottom: 3px solid #2c6a85;
}

.line-pink {
  border-bottom: 3px solid #db2a6f;
}

.contact-box {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  background-color: #db2a6f;
  padding: 15vh 0;
  height: auto;
}

.row-contact {
  margin: 0 5vw;
}
/********** GENERAL STYLES ***********/

/********** NAVBAR STYLES ***********/
.navbar {
  background-color: #fff;
  z-index: 2;
}
.nav-box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  background-color: #fff;
  height: auto;
  padding-bottom: 3vh;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
  padding: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #db2a6f;
  font-weight: bold;
  background-color: none;
}

.navbar-nav {
  border-top: 3px solid #db2a6f;
  margin-right: 1vw;
}
.logo {
  margin: 5vh 0;
}
#logo-subtitle {
  color: #000;
  margin-left: 25px;
}

.nav-link:hover {
  background-color: #72c5d5;
  color: #fff;
}

.symbol {
  margin: 0 10px;
}

.symbol-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  padding-top: 6vh;
}
.navbar > .container-fluid {
  align-items: baseline;
}

.navbar-collapse {
  flex-direction: column;
}
.navbar-toggler {
  background-color: #db2a6f;
}

.br-link {
  text-align: center;
}

#path-nav {
  z-index: 1;
  margin-top: -20vh;
}
.mina-logo {
  margin-left: 3vw;
}

.mina-logo > img {
  padding-top: 2vh;
}
/********** NAVBAR STYLES ***********/

/********** LANDING STYLES ***********/
.aktuelles {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  height: auto;
  padding-top: 10vh;
  padding-bottom: 15vh;
  margin-top: -10vh;
}
#path-rosa-lg {
  margin-top: -25vh;
  z-index: 3;
}
.header-bg {
  padding-top: 5vh;
  margin-top: -20vh;
}

.block-box {
  margin-top: -15vh;
}

.cover-header {
  z-index: -1;
  width: 100%;
  height: 500px;
}

#path-white-2 {
  margin-top: -5vh;
  z-index: -1;
}

#btn-flyer {
  background-color: #db2a6f;
  color: #fff;
  font-weight: bold;
  z-index: 2;
  margin: 2vh 0;
}
.calendar-block {
  clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
  background-color: #db2a6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 0;
  margin-top: -12vh;
}
.list-group {
  width: 75%;
}
#calendar,
.block-margin,
.contact {
  margin-top: -10vh;
}
#calendar-content {
  padding-top: 15vh;
}
.list-group-item.active {
  background-color: #72c5d5;
  border-color: #72c5d5;
}
.list-group-item,
.list-group-item.active {
  color: #000;
}

.about-box {
  clip-path: polygon(0 8%, 100% 0%, 100% 94%, 0% 100%);
  background-color: #9fb039;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  margin-top: -12vh;
}

.text-block {
  width: 50%;
  color: #fff;
  padding-bottom: 10vh;
  text-align: justify;
}

#last-text {
  padding-bottom: 20vh;
}

.map-block {
  clip-path: polygon(0 8%, 100% 0%, 100% 94%, 0% 100%);
  background-color: #72c5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  margin-top: -15vh;
}

#map {
  height: 410px;
  margin-right: 5vw;
}
.box {
  display: flex;
  z-index: 2;
}
.map-box {
  justify-content: center;
  width: 100%;
}

.text-box {
  background-color: #2c6a85;
  border: 2px solid #2c6a85;
  height: 300px;
  width: 400px;
  text-align: center;
  padding: 10px;
  color: #fff;
  margin-top: 5%;
  margin-left: 5vw;
}

.sponsor-block {
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 93%);
  background-color: #fff;
  padding-bottom: 10vh;
  margin-top: -8vh;
  margin-bottom: -5vh;
}

.sponsor-box {
  padding-top: 5vh;
}

#btn-contact {
  background-color: #72c5d5;
  border-color: #72c5d5;
  color: #fff;
  font-weight: bold;
  float: right;
}
/********** LANDING STYLES ***********/

/********** FOOTER STYLES ***********/
.footer {
  z-index: -1;
}

.footer-contact {
  color: #72c5d5;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
}

.social-items a {
  padding: 0 1vw;
  color: #72c5d5;
}

.social-items a:hover {
  color: #db2a6f;
}
.social-icon-mail:hover {
  color: #db2a6f;
  background-color: none;
  border: none;
}

.social-icon-mail {
  color: #72c5d5;
  border: #72c5d5;
  border-radius: 50%;
  padding: 1px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5vh;
}
/********** FOOTER STYLES ***********/

/********** WS STYLES ***********/

.ws-tabelle {
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 0, 100% 7%, 100% 90%, 0 100%);
  height: auto;
  padding-top: 10vh;
  padding-bottom: 15vh;
  margin-top: -10vh;
  background-color: #fff;
}

#table-ws {
  width: 50%;
}
.table a {
  color: #9fb039;
  font-weight: bold;
  text-decoration: none;
}
.ws-text {
  color: #000;
  width: 50%;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15vh;
}

.gallery-block {
  clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  margin-top: -15vh;
}

.gallery {
  width: 75%;
  margin: 5vh 0;
}

.gallery h3,
.gallery h4,
.galery p {
  margin-left: 2vw;
  color: #fff;
  font-weight: bold;
}

.gallery-img {
  margin: 10px;
  height: 200px;
}
.gallery-partizip {
  width: 70%;
}

.gallery-partizip h3,
h4,
p {
  margin-left: 0;
}

.gallery-partizip h4,
p {
  font-weight: normal;
}
#ws-contact {
  margin-top: -15vh;
}
/********** WS STYLES ***********/

/********** CONTACT STYLES ***********/
.worker {
  display: flex;
  align-items: center;
}
.contact-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 3px solid #72c5d5;
}

.worker-info ul,
a {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}

.worker-title {
  font-weight: bold;
}
/********** WS STYLES ***********/

/********** PROZESS STYLES ***********/
#timeline-block {
  padding-bottom: 15vh;
}

.prozess-list {
  list-style: none;
}

.prozess-list li::before {
  content: "\2022";
  color: #db2a6f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* PROZESS STYLES */

/* REGISTER STYLES */
.btn-mina {
  background-color: #db2a6f;
  border-color: #db2a6f;
  color: #fff;
}

.btn-mina-white {
  border-color: #fff;
  color: #ffffff;
  font-weight: bold;
  z-index: 1;
}

.mina-form {
  margin-top: 20vh;
}
/* REGISTER STYLES */
.more {
  padding-bottom: 5vh;
}
/********** PROZESS STYLES ***********/

/********** KONTAKT STYLES ***********/
#btn-contact {
  margin-bottom: 5vh;
}
/********** KONTAKT STYLES ***********/

/********** ALERT STYLES ***********/
.alert {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.alert-success,
.alert-info {
  background-color: #db2a6f;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.flash-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: 5vh;
}
/********** ALERT STYLES ***********/

/************* BREAKPOINTS *************/
@media (min-width: 576px) {
  .nav-link {
    text-align: center;
  }
  .block-box,
  .block-box-blue {
    margin-top: -3vh;
  }
}
@media (min-width: 768px) {
  .block-box,
  .block-box-blue {
    margin-top: -5vh;
  }
}

@media (min-width: 992px) {
  .block-box {
    margin-top: -15vh;
  }
  .block-box-blue {
    margin-top: -20vh;
  }
}

/*************** TEST STYLES ****************/

/*************** TEST STYLES ****************/
