body {
  background-color: darkgrey;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar ul {
  margin-right: 0;
}

.navbar-nav {
  border-top: 3px solid #db2a6f;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
}

.nav-item:hover,
.dropdown-item:hover {
  background-color: #72c5d5;
}

.nav-item:hover .nav-link,
.dropdown-item:hover {
  color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
  color: #db2a6f;
  font-weight: bold;
  background-color: none;
}

.dropdown-menu {
  border: none;
}

.nav-link {
  color: #000;
}

.navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns=http://www.w3.org/2000/svg viewBox=0 0 30 30%3e%3cpath stroke=rgba%28255, 255, 255, 0.55%29 stroke-linecap=round stroke-miterlimit=10 stroke-width=2 d=M4 7h22M4 15h22M4 23h22/%3e%3c/svg%3e);
}
