.card {
  width: 50%;
  margin: 0 auto;
}
.card img {
  height: 200px;
}

#carouselExampleControls {
  width: 50%;
  margin: 0 auto;
}

.gallery2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.gallery-img {
  width: 200px;
  height: 200px;
}
