/********** WS PAGE STYLES ***********/

#img-header-ws {
  height: 550px;
  padding-top: 5vh;
}
.ws-title {
  width: 50%;
  line-height: 1.5;
}
#ws-subtitle {
  color: #72c5d5;
  font-weight: bold;
  padding: 6vh 0 3vh 0;
}

#ws-intro {
  width: 50%;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 5vh;
}

#first-accordion,
#second-accordion,
#third-accordion {
  width: 50%;
}

.strong-ws {
  color: #db2a6f;
}

#third-accordion {
  margin-bottom: 10vh;
}
.btn-aktuelles {
  border-color: #0dcaf0;
  color: #0dcaf0;
  font-weight: bold;
  margin-bottom: 5vh;
}

.btn-aktuelles:hover {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: #fff;
  font-weight: bold;
}

.tabelle-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
  height: auto;
  padding-top: 10vh;
  padding-bottom: 17vh;
  margin-top: -10vh;
  background-color: #fff;
}

.extra-info {
  font-weight: bold;
}

#table-ws {
  width: 50%;
  margin-bottom: 5vh;
  font-size: 18px;
}

#table-ws ul {
  list-style-type: none;
  padding-left: 0;
}

.table a {
  color: #72c5d5;
  font-weight: bold;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.ws-active a {
  color: #9fb039;
}

.ausgebucht {
  color: #db2a6f;
  font-weight: bold;
}

.anmelden a {
  color: #9fb039;
  font-weight: bold;
}

.anmelden a:hover {
  text-decoration: underline;
}

#ws-gallery {
  margin-top: -18vh;
  padding-bottom: 15vh;
}
.img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15vh;
}

/* .gallery h3,
.galery p {
  margin-left: 2vw;
} */

.gallery-img {
  height: 200px;
}
.gallery-2 {
  width: 300px;
}

#ws-contact {
  margin-top: -15vh;
}

.btn-gallery {
  border-color: #fff;
  color: #fff;
  font-weight: bold;
  margin-top: 3vh;
}

.btn-gallery:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0dcaf0;
  font-weight: bold;
}

.btn-workshop:hover {
  border-color: #0dcaf0;
  background-color: #fff;
  color: #0dcaf0;
  font-weight: bold;
}

.btn-workshop {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: #fff;
  font-weight: bold;
}

.img-container-ws {
  display: flex;
  flex-wrap: wrap;
}
/********** WS PAGE STYLES ***********/

/********** WS DV STYLES ***********/
.card {
  width: 50%;
}

.btn-group {
  align-self: flex-start;
  margin-left: 25%;
}

.btn-ws-dv {
  margin: 5px 0;
}

.ws-dv-box,
.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-danger:hover {
  border-color: #dc3545;
  background-color: #fff;
  color: #dc3545;
  font-weight: bold;
}

.btn-danger {
  border-color: #dc3545;
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
}

ul li span,
h5,
.card-title,
.description {
  font-weight: bold;
}

.dv-title {
  text-align: center;
}
.anmelde-link {
  color: #db2a6f;
  font-weight: bold;
}

.anmelde-link:hover {
  color: #0dcaf0;
}

/*********************************/
