<link rel="stylesheet" href="/styles/postoverview.css">
<% layout("layouts/boilerplate") %>
    <h1>Aktuelle Posts</h1>

<div class="posts-box">
      <% for(let post of posts) {%>
        <div class="card mb-3">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body">
                <h5><%=post.title%></h5>
                <p class= "card-text"><%=post.description%></p>
                <p class= "card-text">
                  <small class="text-muted"><%=post.location%></small>
                </p>
                <a href="/posts/<%=post._id%>" class="btn btn-primary">Anzeigen</a>
              </div>
            </div>
          </div>
        </div>
      <% }%>
    </div>
